{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'style.css'%}">
   
  

    <title>PARK-CDIO</title>
</head>
<body class="body">
    <nav class="navbar">
        <div>
             <img  class="logo1" src="{% static 'images/ne.png'%}" height="40px" width="60px"> 
              <h3>CDIO</h3>
              <h2>CDIO LAB</h2>
          <a href="register .html"><button class="join"  onclick="joine()">Join CDIO</button>
          </a>
        </div>
          
            
    </nav>
  
    
    <div class="right"></div>
       <div class="incharge"></div>
        <div class="left"></div>
        <img class="staff-png" src="{% static 'images/ne.png'%}" alt="" height="150px" width="150px">
        <div class="prodetail">
            <h3>SUPERIOR   <span class="dot">:</span> <span>LAKSHMINARAYANAN<span></h3>
            <h3>DEPARTMENT : <span class="d">DEPARTMENT OF </span><span Class="dep">MECHANICAL SCIENCE <span></h3>
                       
        </div>
    </div>

    


    <div class="content" >
       <h2 class="about">About</h2>
       <h3 class="quetion"> "Mastering the CDIO Framework: A Mechanical Engineering Journey"<h3>
       <p>Creating an educational tutorial for CDIO (Conceive, Design, Implement, Operate) with a focus on mechanical engineering involves breaking down the CDIO framework and applying it to mechanical systems and projects. Here's a plan for developing such a tutorial and
        <span class ="popcon"> Introduction to CDIO in Mechanical Engineering
        Begin with an overview of how the CDIO framework is specifically applied in the context of mechanical engineering. Explain the four phases of the CDIO framework and how they relate to the design and development of mechanical systems and components.
        </span>
    
    </p>
    </div>

    <div class="popupt"></div>
    <div class="popup-box"></div>
    <div class="popdetail">
      
       <form class="content-de">
        <li> Name </li> <input type="text" placeholder="Name">
        <li> Roll NO</li> <input type="number" placeholder="Roll Number">
        <li class="dept"> Department</li> <input type="text" placeholder="Department">
        
       </form>
       <a href="student.html"><button class="submit">Submit</button></a>
     
       <button class="cancel">Cancel</button>
 
    </div>

    


 <script src="asses/script.js"></script> 

 <script src="asets/si.js"></script> 

</body>
</html>
